@page "/artworks/{id:int}"
@using Project3H04.Shared.Kunstwerken
@inject IKunstwerkService Service
<h3>Details</h3>
@if(_kunstwerk == null)
       {
            <p>Loading...</p>
       }
else
      {
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-lg-8">
                    <h1 style="text-align: center">@_kunstwerk.Naam</h1>
                    <p style="text-align:left; font-weight:bold">about</p>
                    <p style="border: 1px solid black; width:100%; height:auto">@_kunstwerk.Details</p>
                    <p style="text-align:left; font-weight:bold">photos</p>
                    <div class="container">
                        <div class="row justify-content-start">
                            @foreach (string foto in _kunstwerk.Fotos)
                            {
                                <div class="col-lg-4">
                                    <img src="/images/@foto" style="width: 100%; height:auto" />
                                </div>}
                        </div>
                    </div>
                    <p style="text-align:left; font-weight:bold">price</p>
                    <p style="border: 1px solid black; width:fit-content">@_kunstwerk.Prijs</p>
                </div>
                <div class="col-lg-4">
                    <p><span style="font-weight:bold">Materiaal</span> : @_kunstwerk.Materiaal</p>
                    <p><span style="font-weight:bold">Kunstenaar</span> : @_kunstwerk.NaamKunstenaar</p>
                </div>
            </div>
        </div>
            
            
      }

@code {
    [Parameter] public int Id { get; set; }
    private KunstwerkDTO.Detail _kunstwerk;

    protected override async Task OnParametersSetAsync()
    {
        _kunstwerk = await Service.GetDetailAsync(Id);
    }
}
